
   <div class="card" style="width: 18rem;">
    <div class="card-body">
          <h3>Edit Item Detail</h3>
     
          <form [formGroup]="itemform">
  
          <i><label>Item Name</label></i>
          <input type="text" id="login" class="fadeIn second" name="login"  formControlName="name">
  
          <i><label>Item Discount</label></i>
          <input type="text" id="login" class="fadeIn second" name="login" formControlName="desc">

          <i><label>Item Status</label></i>
          <input type="text" id="login" class="fadeIn second" name="login" formControlName="status">
        </form>
         <img [src]="image" height="75" width="75" [style.display]="pic">

        
          <div class="d-flex flex-column align-items-center text-center p-2 py-4 ">
         <!-- <div *ngIf="(image)"> -->
            <img [src]="url" width="275" >
            <input type="file" style="display:none" (change)="changeFile($event)" #input >
            <button type="button" (click)="input.click()" style="background-color:darkblue;color:white">Browse</button>
            <span class="font-weight-bold"></span><span class="text-black-50"></span>
          </div>
          <!-- </div> -->
         

            <input type="submit" class="fadeIn fourth" value="Update Item Detail" (click)="edit()" >
       
        </div>
        </div>
  
      